:root {
  --rojo: #FF6B6B; /* rojo */
  --amarillo: #FFE66D; /* amarillo */
  --turquesa: #4ECDC4; /* turquesa */
  --naranja: #FFC107; /* naranja */
  --banco: #FFFFFF; /* blanco */
  --blancoobscuro : #dfdfdf;
  --grisobscuro: #333333; /* gris oscuro */
  --grisclaro: #CCCCCC; /* gris claro */
}
