@import 'vars';
.Menu2 {

        background: var(--blancoobscuro);
        margin-right: 20px;
     
        font-size: 15px;
        z-index: 100;
        float: right;
        
    }
    
    .Menu2 a {
        text-decoration: none;
        color: inherit;
        padding: 20px 5px;
        color: black;
    }
    
    .Menu2 li {
        display: flex;
        flex-wrap: wrap;
    }
@media(max-width:640px){
    .Menu2{
        position:absolute;
        background-color: var(--blancoobscuro);
        display: block;
        color: black;
        width: 200px;
        }
    a{
        color: black;
        text-align: left;
        font-size: 15px;
    }
}