@import 'vars';

body {
margin: 0;
font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.FinalizarCompra {
display: grid;
justify-content: center;
margin-top: 15px;
}

.FinalizarCompra-container {
display: grid;
justify-items: center;
background-color: var(--blancoobscuro);
padding: 25px;
border-radius: 25px
}

.logo {
justify-self: center;
justify-content: center;
width: 100px;
display: none;
margin-left: 40%;
}

.cards-container {
display: grid;
gap: 24px;
grid-template-columns: repeat(auto-fill, 240px);
place-content: center;
margin-top: 5%;
margin-bottom: 5%;
}

.product-card {
width: 240px;
}

.product-card img {
width: 240px;
height: 240px;
border-radius: 20px;
}

.product-info {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}

.product-info figure {
background-color: var(--rosa-claro);
text-align: center;
border-radius: 40%;
margin: 10px;
}

.product-info figure i {
margin: 10px;
color: var(--blanco);
}

.product-info figure {
margin: 0;
text-align: center;
}

.product-info div p:nth-child(1) {
font-weight: bold;
font-size: var(--md);
margin-top: 0;
margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
font-size: var(--sm);
margin-top: 0;
margin-bottom: 0;
color: var(--gris-medio);
}

@media (max-width: 640px) {
.logo {
display: block;
}

.cards-container {
display: grid;
grid-template-columns: repeat(auto-fill, 140px);
}

.product-card {
width: 140px;
}

.FinalizarCompra-content .producto img{
width: 90px;
height: 90px;
margin: 5px;
}
.FinalizarCompra-content .producto{
width: 250px;
}
.title-or{
width: 250px;
}

.FinalizarCompra-container {
padding: 15px;
}

.product-info {
flex-direction: column;
align-items: flex-start;
}

.product-info figure {
margin: 0 0 10px 0;
}

.product-info div p:nth-child(1) {
font-size: var(--sm);
margin-top: 10px;
margin-bottom: 0;
}

.product-info div p:nth-child(2) {
font-size: var(--xs);
margin-top: 2px;
margin-bottom: 0;
}

.cards-container {
margin-top: 10%;
margin-bottom: 10%;
}

.FinalizarCompra-content {
margin-top: 50px;
}
}