@import 'vars';

.cards-container-product {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill,240px);
    place-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.product-card-product {
    width: 240px;
}

.product-card-product img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
}

.product-info-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product-info-product figure {
    background-color: var(--rosa-claro);
    text-align: center;
    border-radius: 40%;
    margin: 10px;
}

.product-info-product figure i {
    margin: 10px;

    color: var(--blanco);
}

.product-info-product figure {
    margin: 0;
    text-align: center;
}

.product-info-product div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info-product div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--gris-medio);
}

@media (max-width: 640px) {
    .logo-product {
        display: block;
    }

    .cards-container-product {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card-product {
        width: 140px;
    }

    .product-card-product img {
        width: 140px;
        height: 140px;
    }

}